NODE_ENV=development
#RESEND
RESEND_API_KEY=
JWT_SECRET=
BETTER_AUTH_URL=http://localhost:3000
#DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_NAME=
DB_PASS=
DB_SSL= #this is true or false for ts
#DISCORD
DISCORD_CLIENTID=
DISCORD_CLIENTSECRET=
DISCORD_GUILDID=
DISCORD_TOKEN=
#CLOUDFLARE
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_PUBLIC_URL=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=
CLOUDFLARE_PUBLIC_URL=
CLOUDFLARE_TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
#LASTFM
LASTFM_API_KEY=
LASTFM_SECRET=
#DRAIN
DRAIN_API_KEY=
#LASTFM
LASTFM_API_KEY=
#WEATHER
WEATHER_API_KEY=